@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500&display=swap');

html {scroll-behavior: smooth}

body {background-color: #EEEEEE; font-family: 'Nunito', sans-serif; font-size: 85%}

.pageWidths {width: 97%}
.introduction h1 {width: 80%; margin: auto; margin-top: 7%; margin-right: 8%}
.introduction h1 div {font-size: 70%; text-align: center; margin-bottom: 5%}

nav {height: auto; width: 25%; float: left; position: fixed; text-align: right; min-width: 250px}
nav h1{font-size: 150%}
.myInfo {height: auto; width: 100%; float: left; box-sizing: border-box; padding: 25px}
.myInfo img {width: 80%; min-width: 150px}
.myInfo a {text-decoration: none; color:  black; box-sizing: border-box; padding: 3% 7%; border-radius: 60px}
.myInfo a:hover {color: #EEEEEE; background-color: black; transition: 100ms ease-in-out}

.content { height: auto; width: 60%; float:right; padding: 0% 2%; box-sizing: border-box; min-width: 400px}
.workSamples { width: 100%; height:400px; display: grid; gap: 2% 1%; grid: 50% / auto auto auto}
#picPlaceholder1 {width: 100%; height: 250px; background-color: purple}
.title {background-color: rgb(0, 0, 0, 0.5); color: #EEEEEE; width: 100%; text-align: center; opacity: 0; 
    transition: ease-in-out 100ms; font-size: 120%; box-sizing: border-box; padding: 1%; margin-top: 20%;}
.cover:hover .title {opacity: 1}
.cover {border-radius: 25px;}


#first {background: url("wonderboard_mockup2.png") center no-repeat; background-size: auto 100%}

#second{background: url("ADHRedesignMockup2.png") center no-repeat; background-size: 100% auto}

#third {background: url("DHENGallerywebsitebannerBuddha-ver .png") right no-repeat; background-size: auto 100%}

#fourth {background: url("WatchProjectFinalDraft.png") center no-repeat; background-size: 100% auto}

#fifth {background: url("mockup1.png") center no-repeat; background-size: 100% auto}

#sixth {background: url("https://nitter.net/pic/media%2FFOiIETLVUAAt-jE.jpg") center no-repeat; background-size: 100% auto}

